import { call, SoapInput } from './common'

const url = '{{&url}}'

{{#services}}
{{#methods}}
interface {{pascalizedName}}Input extends SoapInput {
  {{#input}}
  {{name}}: {{type}}
  {{/input}}
}
{{/methods}}
{{/services}}

{{#services}}
interface {{pascalizedName}} {
  {{#methods}}
  {{camelizedName}}: (input: {{pascalizedName}}Input) => Promise<any>
  {{/methods}}
}
{{/services}}

{{#services}}
export const {{camelizedName}}: {{pascalizedName}} = {
  {{#methods}}
  {{camelizedName}}: input => call(url, '{{name}}', input),
  {{/methods}}
}
{{/services}}
